.containers {
    background-color: rgb(164, 169, 126);
    margin: 10%;
    margin-left: 20%;
    margin-right: 20%;
    padding: 60px;
 /*position:absolute;
 top: 50%;
 left: 50%;
 transform: translate(-50%,-50%);*/
 border-radius: 10px;
 box-shadow: 2px 2px 20px 0.9px rgb(1, 1, 13) inset;
}
.email{
    padding-top: 30px;
}
/*.form-control{
    
}*/
.submit{
    text-align: center;
}
