.ft{
    background-color: black;
    color: white;
    text-align: center;
    height: 40px;
}
.ft a {
    color: #4caf50; /* Color for the link */
    text-decoration: none; /* Removes underline */
}

.ft a:hover {
    text-decoration: underline; /* Adds underline on hover */
}